@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body[data-theme='dark'] {
    --primary-background: #23272F;
    --secondary-background: #343A46;
    --primary-text: #F6F7F9;
    --secondary-text: #A4A6AA;
    --link: #149ECA;
    --link-hover: #0D6E8C;
}

/* TODO: Decide on a light-theme palette */
body[data-theme='light'] {
    --primary-background: #ffffff;
    --secondary-background: #e4e4e4;
    --primary-text: #a82323;
    --secondary-text: #A4A6AA;
    --link: #691919;
    --link-hover: #531111;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    background-color: var(--primary-background);
    color: var(--primary-text);
}